<div class="sidebar-container rounded d-flex flex-column p-3">
  <!-- dashboard -->
  <a
    href="dashboard.html"
    class="text-decoration-none text-dark active"
    id="dashboardLink"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-tachometer-alt"></i>
      Dashboard
    </div>
  </a>

  <!-- category -->
  <a
    href="category.html"
    class="text-decoration-none text-dark"
    id="category_"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fa fa-list-alt" aria-hidden="true"></i>
      Category
    </div>
  </a>

  <!-- class -->
  <a
    href="class.html"
    class="text-decoration-none text-dark"
    id="class_"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-chalkboard"></i>
      Class
    </div>
  </a>

  <!-- subject -->
  <a
    href="subject.html"
    class="text-decoration-none text-dark"
    id="subjects"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-book-open"></i>
      Subject
    </div>
  </a>

  <!-- chapter -->
  <a
    href="chapter.html"
    class="text-decoration-none text-dark"
    id="chapterLink"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-scroll"></i>
      Chapter
    </div>
  </a>

  <!-- question -->
  <a
    href="question.html"
    class="text-decoration-none text-dark"
    id="questionLink"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fa-solid fa-question"></i>
      Question
    </div>
  </a>

  <!-- quiz -->
  <a
    href="quiz.html"
    class="text-decoration-none text-dark"
    id="quizLink"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-question-circle"></i>
      Quiz
    </div>
  </a>

  <!-- user -->
  <a
    href="user.html"
    class="text-decoration-none text-dark"
    id="userLink"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-users"></i>
      User
    </div>
  </a>

  <!-- report -->
  <a
    href="report.html"
    class="text-decoration-none text-dark"
    id="reportLink"
    draggable="false"
  >
    <div class="mb-2 p-2 d-flex gap-3 align-items-center">
      <i class="fas fa-chart-bar"></i>
      Report
    </div>
  </a>
</div>
